.advantages {
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 4px;
}

.advantages__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 36px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  display: grid;
  gap: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    padding: 25px 10px 0 82px;
    background-position: left top;
    background-position: 10px 25px;
  }

  @media (min-width: $desktop-width),
  (max-width: $mobile-max-width) {
  padding-top: 64px;
  background-size: 52px 56px;
  background-position: center top;

  }

  @media (min-width: $desktop-width) {
    padding: 77px 20px 0;
  }
}

.item--speed {
  background-image: url('../../img/speed.svg');
}

.item--cheerfulness {
  background-image: url('../../img/cheerfulness.svg');
}

.item--energy {
  background-image: url('../../img/energy.svg');
}

.item--eco {
  background-image: url('../../img/eco.svg');
}

.item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.item__desription {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
