.slider {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-flat-white;
}

.slider__list {
  @media (min-width: $tablet-width) {
    padding-bottom: 197px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.slider__item {
  background-color: $bg-flat-white;
  padding: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 270px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 60px 83px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &--hidden {
    display: none;
  }
}

.slider__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    position: absolute;
    top: 540px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    position: relative;
    top: 0;
    margin-left: 44px;
  }
}

.description__label-new {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 150px;
  }
}

.description__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }

  & br {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.description__wrap-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
}
}

.description__price--old {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $primary;
  margin-right: -15px;
}

.description__price--new {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.description__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @include primary-button;
  padding: 8px 20px;

  &:hover,
  &:focus {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }

  &:disabled {
    background-color: $grey;
  }
}
