.slider {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-flat-white;
}

//  Временно ограничить ширину окно

.swiper {
  width: 320px;
}

.slider__title {

}

.slider__list {

}

.slider__item {
  background-color: $bg-flat-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.slider__img {
 margin-bottom: 4px;
}

.slider__description {

}

.description__label-new {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 6px;
}

.description__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 19px;
}

.description__wrap-price {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 230px;
 margin: 0 auto;
 margin-bottom: 40px;
}

.description__price {

}

.description__price--old {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $primary;
  margin-right: -15px;
}

.description__price--new {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.description__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @include primary-button;
  padding: 8px 20px;

  &:hover,
  &:focus {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }

  &:disabled {
    background-color: $grey;
  }
}
