.catalog {

  &__products {
    width: 280px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 728px;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      grid-column: 2/3;
      display: grid;
      grid-template-rows: repeat(3, min-content);
    }
  }
}

.products {

  &__list {
    display: grid;
    row-gap: 20px;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      grid-row: 2/3;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 60px;
    }
  }

  &__item {
    background-color: $white;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $tablet-width) {
      padding: 50px 30px 30px;
    }

    @media (min-width: $desktop-width) {
      &:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__img {
    width: 130px;
    height: 188px;
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    align-self: left;
    margin-top: 25px;
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 36px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-self: left;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &__wrap-price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }

  &__button {
    @include primary-button;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 20px 8px 46px;
    background-image: url('../../../img/catalog_union-button.png');
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: 20px 10px;

    &:hover,
    &:focus {
      background-color: $primary-light;
    }

    &:active {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $grey;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;

    @media (min-width:$tablet-width) {
      width: 395px;
      margin-left: auto;
      gap: 20px;
    }
  }
}
.pagination {

  &__item {

    &--current .pagination__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      background-color: transparent;
    }

    &--back .pagination__link,
    &--onward .pagination__link {
      @media (min-width: $tablet-width) {
        width: auto;
        display: block;
        padding: 8px 20px;
      }
    }

    &--back .pagination__link span,
    &--onward .pagination__link span {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &:hover .pagination__link,
    &:focus .pagination__link {
      background-color: $secondary;
    }

    &:active .pagination__link {
      color: $primary-dark;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: $white;
  }

  &__svg {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
