.catalog__form-filter {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 728px;
    display: grid;
    grid-template-columns: 243px 243px 242px;
    margin-bottom: 41px;
  }
}


.form-filter__legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.form-filter__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-filter {

  &__wrap-button {
    grid-column: span 3;
    width: 728px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__button {
    width: 280px;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 24px;
    @include primary-button;

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 8px 20px;
      margin-top: 10px;
    }

    &--ok {
      @media (max-width: $mobile-max-width) {
        margin-bottom: 20px;
      }
    }

    &--reset {
      background-color: $white;
      color: $primary;
    }

    &:hover,
    &:focus {
      background-color: $primary-light;
      color: $white;
    }

    &:active {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $grey;
    }

    &--reset:disabled {
      background-color: $grey-light;
      color: $white;
    }
  }
}
