.header__user-nav {
  position: absolute;
  top: 0;
  right: 60px;

  @media (min-width: $tablet-width) {
    position: relative;
    right: 0;
    margin-left: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 77px;
  }
}

.header__user-nav--nojs {
  right: 0;
}

.user-nav__list {
  display: flex;

  @media (min-width: $desktop-width) {
    gap: 20px;
    padding-right: 40px;
  }
}

.user-nav__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    height: 80px;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: auto;
    padding: 30px 25px 29px 20px;
  }
}

.user-nav__link:active {
  background-color: $secondary;
}

.user-nav__svg {
  width: 16px;
  height: 16px;

  @media (min-width: $desktop-width) {
    transform: translateX(-6px) translateY(1px);
  }
}

.user-nav__link span {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}
