.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
