/* GLOBAL */
@import "global/variables";
@import "global/global";
@import "global/fonts";
@import "global/_mixins";

/* BLOCKS */
@import "blocks/page__body.scss";
@import "blocks/header/header.scss";
@import "blocks/header/header__wrap-logo.scss";
@import "blocks/header/header__nav.scss";
@import "blocks/header/header__user-nav.scss";
@import "blocks/slider.scss";
@import "blocks/advantages.scss";
@import "blocks/catalog/catalog.scss";
@import "blocks/catalog/catalog__form-filter.scss";
@import "blocks/catalog/catalog__wrap-products.scss";
@import "blocks/catalog/form-filter__range-price.scss";
@import "blocks/catalog/form-filter__radio-button.scss";
@import "blocks/catalog/form-filter__checkbox.scss";
@import "blocks/catalog/catalog__sorting.scss";
@import "blocks/catalog/catalog__products.scss";
@import "blocks/footer/footer.scss";
