.footer {

  &__title-items {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $primary;
    margin-bottom: 12px;
  }

  &__item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
  }

	&__map {
    border: none;
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 480px;
    }

    @media (min-width: $desktop-width) {
      height: 540px;
    }
	}

  &__wrap {
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 768px;
      display: grid;
      grid-template-columns: 223px 222px 223px;
      grid-template-rows: repeat(3, min-content);
      column-gap: 30px;
      padding: 0 20px;
      padding-top: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      padding: 40px;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 0px;
    }
  }

	&__wrap-logo-and-social {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid $secondary;
    padding: 18px 20px;

    @media (min-width: $tablet-width) {
      padding: 18px 0 25px;
      border-bottom: none;
      grid-column: 1/4;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/2;
      flex-direction: column;
      align-items: start;
      margin-top: -5px;
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

	&__logo {

    & img {
      width: 82px;
      height: 36px;

      @media (min-width: $tablet-width) {
        width: 170px;
        height: 36px;
      }
    }

    & p {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
        margin-top: 7px;
      }
    }
	}

	&__social {
    display: flex;
    justify-content: space-between;
    width: 160px;
    flex-wrap: wrap;
	}

	&__market {

    @media (max-width: $mobile-max-width) {
      border-bottom: 1px solid $secondary;
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 5px;
      padding-top: 5px;
    }
	}

	&__media {

    @media (max-width: $mobile-max-width) {
      border-bottom: 1px solid $secondary;
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 15px;
      padding-top: 5px;
    }
	}

	&__contacts {

    @media (max-width: $mobile-max-width) {
      border-bottom: 1px solid $secondary;
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 22px;
      padding-top: 5px;
    }
  }

	&__copyright {
    @media (min-width: $tablet-width) {
      grid-column: 1/4;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/5;
    }
	}
}


.social {

	&__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: $secondary;
    }

    &:active {
      background-color: $primary-opacity;
    }
	}
}

.market {

  &__item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
	}
}
.media {

	&__item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
	}
}
.contacts {

	&__title {
    margin-bottom: 20px;
	}

	&__list {
    padding-left: 18px;
	}

	&__item {
    position: relative;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
	}

  &__svg {
    position: absolute;
    top: 2px;
    left: -20px;
  }

	&__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    & br {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
	}
}

.copyright {

  &__svg {
    position: absolute;
    top: 20px;
    left: 253px;
    stroke: $grey-light;
    fill: $grey-light;

    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      top: 30px;
      left: 468px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      left: 780px;
    }
  }

	&__link {
    font-weight: 400;
    text-transform: none;
    position: relative;
    color: $grey;

    padding: 20px 57px 30px;

    @media (min-width: $tablet-width) {
      padding-top: 30px;
      text-align: center;
      margin-left: -10px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 20px;
    }

    &:hover,
    &:focus {
      color: $primary;
    }

    &:hover .copyright__svg,
    &:focus .copyright__svg {
      stroke: $primary;
    }

    &:active,
    &:active .copyright__svg,
    &:active .copyright__svg {
      color: $primary-dark;
      stroke: $primary-dark;
    }
	}
}
